@import 'font-hkgrotesk/index.css';

html, body {
  padding: 0;
  margin: 0;
  font-family: hk_grotesk, Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
