.explore-wrapper{
  .tag-filter-notification {
    background-color: #eee;
    border-radius: 5px;
    padding: 3px 0 3px 6px;
    font-weight: bold;
    font-size: 16px;
    color: #555;
    margin-left: 5px;
    a {
      display: inline-block;
      border-left: 1px solid #777;
      width: 20px;
      text-align: center;
      color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      text-decoration: none;
      background-image: url('./cross.svg');
      padding: 0 2px;
    }
  }

  .playlist-grid {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(5, 200px);
    @media (max-width: 1279px) {
      grid-template-columns: repeat(4, 200px);
      justify-content: space-between;
    }
    @media (max-width: 1029px) {
      grid-template-columns: repeat(3, 200px);
    }
    @media (max-width: 779px) {
      grid-template-columns: repeat(2, 200px);
    }
    @media (max-width: 529px) {
      display: block;
      padding: 1px 0;
    }

  }

  .fetch-more {
    display: block;
    margin: 20px auto;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  .loading {
    margin: 20px auto;
    text-align: center;
  }
}
