.deezer-player-wrapper {
  position: fixed;
  bottom: -90px;
  left: 0;
  transition: all .2s;
  width: 100%;
  height: 90px;
  background-color: #111;
  z-index: 10;

  &.playing {
    bottom: 0;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
